[submodule "modules/perl-rdb-utils"]
	path = modules/perl-rdb-utils
	url = git://github.com/wakaba/perl-rdb-utils.git
	track = master
[submodule "modules/perl-json-functions-xs"]
	path = modules/perl-json-functions-xs
	url = git://github.com/wakaba/perl-json-functions-xs.git
	track = master
[submodule "modules/perl-test-moremore"]
	path = modules/perl-test-moremore
	url = git://github.com/wakaba/perl-test-moremore.git
	track = master
[submodule "modules/perl-ooutils"]
	path = modules/perl-ooutils
	url = git://github.com/wakaba/perl-ooutils.git
	track = master
[submodule "t_deps/modules/anyevent-mysql-client"]
	path = t_deps/modules/anyevent-mysql-client
	url = git://github.com/wakaba/perl-anyevent-mysql-client
	track = master
[submodule "t_deps/modules/test-x1"]
	path = t_deps/modules/test-x1
	url = git://github.com/wakaba/perl-test-x1
