[submodule "modules/perl-rdb-utils"]
	path = modules/perl-rdb-utils
	url = https://github.com/wakaba/perl-rdb-utils
	track = master
[submodule "modules/perl-json-functions-xs"]
	path = modules/perl-json-functions-xs
	url = https://github.com/wakaba/perl-json-functions-xs
	track = master
[submodule "modules/perl-ooutils"]
	path = modules/perl-ooutils
	url = https://github.com/wakaba/perl-ooutils
	track = master
[submodule "t_deps/modules/anyevent-mysql-client"]
	path = t_deps/modules/anyevent-mysql-client
	url = https://github.com/wakaba/perl-anyevent-mysql-client
	track = master
[submodule "t_deps/modules/test-x1"]
	path = t_deps/modules/test-x1
	url = https://github.com/wakaba/perl-test-x1
	track = master
[submodule "modules/json-ps"]
	path = modules/json-ps
	url = https://github.com/wakaba/perl-json-ps
	track = master
[submodule "t_deps/modules/test-moremore"]
	path = t_deps/modules/test-moremore
	url = https://github.com/wakaba/perl-test-moremore
	track = master
[submodule "t_deps/modules/promised-mysqld"]
	path = t_deps/modules/promised-mysqld
	url = https://github.com/wakaba/perl-promised-mysqld
	track = master
[submodule "t_deps/modules/promise"]
	path = t_deps/modules/promise
	url = https://github.com/wakaba/perl-promise
	track = master
[submodule "t_deps/modules/promised-command"]
	path = t_deps/modules/promised-command
	url = https://github.com/wakaba/perl-promised-command
	track = master
[submodule "t_deps/modules/streams"]
	path = t_deps/modules/streams
	url = https://github.com/manakai/perl-streams
	track = master
[submodule "t_deps/modules/promised-file"]
	path = t_deps/modules/promised-file
	url = https://github.com/wakaba/perl-promised-file
	track = master
